In [6]:
class Mylr:

    def __init_(self):
        self.m = None
        self.b = None
        #model train
    def fit(self,x_train,y_train):
        num =  0
        den = 0
        for i in range(x_train.shape[0]):
            num= num+((x_train[i]-x_train.mean()) *(y_train[i]-y_train.mean()))
            den = den+(x_train[i]-x_train.mean())*(x_train[i]-x_train.mean())
        self.m = num/den
        self.b = y_train.mean() - (self.m*x_train.mean())
        print(self.m)
        print(self.b)
        
        pass
        #model prediction
    def predict(self,x_test):
        pass

In [8]:
import pandas as pd 
import numpy as np

In [10]:
df=pd.read_csv("placement.csv")

In [12]:
df.head(10)

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57
5  7.89     2.99
6  6.73     2.60
7  6.75     2.48
8  6.09     2.31
9  8.31     3.51

In [16]:
x = df.iloc[:,0].values
y= df.iloc[:,1].values

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [19]:
lr =Mylr()

In [20]:
lr.fit(x_test,y_test)

0.6153694384337101
-1.3386246406073266